* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input {
    width: 100px;
}

button {
    cursor: pointer;
}

/* Section of enemies */

#enemySlots {
    display: inline-block;
  /*  border: 1px solid blue; */
    width: 80%;
    text-align: center;
    margin: 10px;
}

.enemySection {
    display: block;
    height: 320px;
    width: 120px;
    border: 1px solid red;
    text-align: center;
    float: left;
    background-color: #FFB6A7;
    margin: 10px;

    border-radius: 0.4em;
}

#enemyAddSection {
  background-color: #FFD6D6;
}

/* Section of players */

#playerSlots {
    display: inline-block;
  /*  border: 1px solid violet; */
    width: 80%;
    text-align: center;
    margin: 10px;
}

.playerSection {
  display: block;
  height: 320px;
  width: 120px;
  border: 1px solid green;
  text-align: center;
  float: left;
  background-color: #AEFFA7;
  margin: 10px;

  border-radius: 0.4em;
}

#playerAddSection {
  background-color: #D3FECF;
}

/* Section of buttons */
.cardPickerButton {
    display: inline-block;
    height: 30px;
    width: 30px;
}

.hidden {
    display: none !important;
}

.priorityActionFlag.disabled::after {
    content: " - niedostępny";
}

.sideSection {
    display: inline-block;
    padding: 10px;
    margin-right: 20px;
    border: 1px solid gray;
    text-align: center;
    float: right;
    background-color: #FFF1C7;
}

#pickingOverlay {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
}

.clickOnMe {
    cursor: pointer;
    transition: 0.2s ease-in opacity;
}

.clickOnMe:hover {
    opacity: 0.8;
}

.inlineBlockDisp  {
    display: inline-block;
}

.blockDisp  {
    display: block;
}

.lvlButton {
    width: 17px;
    margin: 3px;
}

.cardListFrame {
    padding: 2em;
    background-color: white;
    border: 3px solid saddlebrown;
    border-radius: 1em;
    overflow: hidden;
    height: 60vh;
    width: 80vw;
    overflow: scroll;
}

.cardPickerWrap {
    position: relative;
}

.cardPickerWrap>.closeListButton {
    font-size: 1em;
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    background-color: white;
    border-radius: 100%;
    width: 2em;
    height: 2em;
    text-align: center;
    display: block;
    border: 3px solid saddlebrown;
    box-sizing: border-box;
}

#systemCall {
    height: 10em;
    overflow-y: scroll;
    background-color: #ccc;
    max-width: 30em;
}

.current {
    color: red;
}